@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="space-y-2.2 mt-10">
    <div class="font-bold text-xl">unocss 测试</div>
    <div class="font-bold text-2xl bg-red-400">unocss 测试</div>
    <div class="font-bold text-3xl text-red-500">unocss 测试</div>
</div>